.root {
  display: flex;
  align-items: center;
  gap: 10px; 
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 30px;
}

.userName {
  font-weight: 500;
  font-size: 14px;
}

.userDetails {
  display: flex;
  flex-direction: column;
}

.additional {
  font-size: 12px;
  opacity: 0.6;
}

.message {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 15px;
  font-size: 14px;
}

.message.error {
  background-color: #f44336;
}
